Repository agglayer/agglayer, pull requests merged in 2025-04, with the labels that each got.

#740 chore: bump all dependencies and adjust to latest provers repo
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer/src/main.rs
  crates/pessimistic-proof-core/Cargo.toml
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: pessimistic-proof

#745 chore: update interop to `0.2.0`
  Cargo.lock
  Cargo.toml
  buf.lock
  buf.yaml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
Labels: pessimistic-proof

#724 fix: add check on ger on agglayer side
  Cargo.lock
  Cargo.toml
  crates/agglayer-config/tests/snapshots/validate_deserialize__prover_grpc_max_decoding_message_size.snap
  crates/agglayer-types/src/lib.rs
  crates/agglayer/tests/snapshots/config__prover_config_display.snap
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/Cargo.toml
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: bug, pessimistic-proof

#739 refactor: mv target roots check outside of the program
  Cargo.lock
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/src/local_state/commitment.rs
  crates/pessimistic-proof-core/src/local_state/mod.rs
  crates/pessimistic-proof-core/src/multi_batch_header.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof/src/local_state.rs
  crates/pessimistic-proof/src/proof.rs
Labels: pessimistic-proof

#751 feat: align imported bridge exit and signature commitments
  Cargo.lock
  crates/agglayer-aggregator-notifier/src/packer/tests.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests/status.rs
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/Cargo.toml
  crates/pessimistic-proof-core/src/aggchain_proof.rs
  crates/pessimistic-proof-core/src/local_state/commitment.rs
  crates/pessimistic-proof-core/src/multi_batch_header.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/lib/Cargo.toml
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/lib/src/lib.rs
  crates/pessimistic-proof-test-suite/src/bin/ppgen.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/cycle-tracker.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof/src/proof.rs
Labels: pessimistic-proof

#759 fix: update instrumentation to skip request in submit_certificate
  crates/agglayer-grpc-api/src/certificate_submission_service/mod.rs
Labels: bug

#760 chore: log ap public values
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: pessimistic-proof

#761 feat: adding optional L1_info_root to certificate
  crates/agglayer-grpc-types/src/compat/v1/certificate.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.types.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.types.v1.serde.rs
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h0.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h1.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h2.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h3.snap
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  proto/agglayer/node/types/v1/certificate.proto
Labels: feature

#762 feat: add handling for l1_info_root without imported bridge exits
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-types/src/lib.rs
Labels: feature

#763 feat: add handling for l1_info_root without imported bridge exits
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer-aggregator-notifier/src/packer/mod.rs
  crates/agglayer-aggregator-notifier/src/packer/tests.rs
  crates/agglayer-contracts/src/settler.rs
Labels: bug

#767 feat: replace l1_info_tree_root by l1_info_tree_leaf_count
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-certificate-orchestrator/src/error.rs
  crates/agglayer-grpc-types/src/compat/v1/certificate.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.types.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.types.v1.serde.rs
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  proto/agglayer/node/types/v1/certificate.proto
Labels: feature

#769 fix: json serialization backwards compat for `Certificate`
  Cargo.lock
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h0.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h1.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h2.snap
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-types/Cargo.toml
  crates/agglayer-types/src/compat.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-test-suite/data/cert_h0_leafcount.json
  crates/pessimistic-proof-test-suite/data/cert_h0_leafcount99k.json
Labels: bug

#779 build: use `cargo prove` to build PP
  .github/workflows/test.yml
  Cargo.toml
  build/sp1-toolchain/Dockerfile
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  scripts/make/Makefile.pp.toml
Labels: pessimistic-proof

#771 feat: switch to sp1 execute and add root cross checks
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-certificate-orchestrator/src/certifier.rs
  crates/agglayer-certificate-orchestrator/src/error.rs
  crates/agglayer-certificate-orchestrator/src/network_task.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests/status.rs
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-certificate-orchestrator/src/tests/mocks.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-program/src/main.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: pessimistic-proof

#781 fix: index initialization to start from next database value
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/tests.rs
Labels: bug
