Repository agglayer/agglayer, pull requests merged in 2025-01, with the labels that each got.

#438 build: port primitives to `alloy` + remove sp1 hack
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-contracts/Cargo.toml
  crates/agglayer-node/src/rpc/tests/send_certificate.rs
  crates/agglayer-primitives/Cargo.toml
  crates/agglayer-primitives/src/lib.rs
  crates/agglayer-primitives/src/signature.rs
  crates/agglayer-prover/Cargo.toml
  crates/agglayer-prover/src/executor/tests.rs
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h0.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h1.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h2.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h3.snap
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-types/Cargo.toml
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-test-suite/Cargo.toml
  crates/pessimistic-proof-test-suite/src/bin/ppgen.rs
  crates/pessimistic-proof-test-suite/src/event_data.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/src/sample_data.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof/Cargo.toml
  crates/pessimistic-proof/src/bridge_exit.rs
  crates/pessimistic-proof/src/global_index.rs
  crates/pessimistic-proof/src/keccak/digest.rs
  crates/pessimistic-proof/src/lib.rs
  crates/pessimistic-proof/src/local_balance_tree.rs
  crates/pessimistic-proof/src/local_state.rs
  crates/pessimistic-proof/src/multi_batch_header.rs
  crates/pessimistic-proof/src/proof.rs
Labels: pessimistic-proof

#494 build: deterministic proof ELF generation
  .cargo/config.toml
  .github/workflows/test:elf.yml
  .github/workflows/util:docker.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  Makefile.pp.toml
  Makefile.toml
  build/sp1-toolchain/Dockerfile
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  xtask/Cargo.toml
  xtask/src/commands.rs
  xtask/src/main.rs
Labels: pessimistic-proof

#520 feat: upgrade to sp1 v4
  Cargo.lock
  Cargo.toml
  Dockerfile
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-prover/src/executor.rs
  crates/agglayer-prover/src/fake.rs
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-storage/src/columns/proof_per_certificate/fixtures/non_regression_proof_encoding.proof
  crates/agglayer-storage/src/columns/proof_per_certificate/snapshots/agglayer_storage__columns__proof_per_certificate__tests__proof hex format.snap
  crates/agglayer-storage/src/columns/proof_per_certificate/snapshots/agglayer_storage__columns__proof_per_certificate__tests__proof public input hex format.snap
  crates/agglayer-storage/src/columns/proof_per_certificate/tests.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/src/runner.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof/Cargo.toml
Labels: pessimistic-proof, feature

#532 feat: upgrade to sp1 v4
  Cargo.lock
  Cargo.toml
  Dockerfile
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-prover/src/executor.rs
  crates/agglayer-prover/src/fake.rs
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-storage/src/columns/proof_per_certificate/fixtures/non_regression_proof_encoding.proof
  crates/agglayer-storage/src/columns/proof_per_certificate/snapshots/agglayer_storage__columns__proof_per_certificate__tests__proof hex format.snap
  crates/agglayer-storage/src/columns/proof_per_certificate/snapshots/agglayer_storage__columns__proof_per_certificate__tests__proof public input hex format.snap
  crates/agglayer-storage/src/columns/proof_per_certificate/tests.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/src/runner.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof/Cargo.toml
Labels: pessimistic-proof

#441 test: cycle tracker improvements
  Cargo.lock
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests/status.rs
  crates/pessimistic-proof-test-suite/Cargo.toml
  crates/pessimistic-proof-test-suite/src/event_data.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/src/sample_data.rs
  crates/pessimistic-proof-test-suite/tests/cycle-tracker.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof/src/bridge_exit.rs
Labels: pessimistic-proof

#545 fix: update labeller to better tag pp changes
  .github/labeler.yml
Labels: bug

#543 feat: move prover to dedicated repo
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer-certificate-orchestrator/Cargo.toml
  crates/agglayer-certificate-orchestrator/src/error.rs
  crates/agglayer-config/Cargo.toml
  crates/agglayer-config/src/lib.rs
  crates/agglayer-config/src/prover.rs
  crates/agglayer-config/tests/validate_deserialize.rs
  crates/agglayer-node/Cargo.toml
  crates/agglayer-prover-types/Cargo.toml
  crates/agglayer-prover-types/build.rs
  crates/agglayer-prover-types/proto/v1/proof_generation.proto
  crates/agglayer-prover-types/src/generated/agglayer.prover.bin
  crates/agglayer-prover-types/src/generated/agglayer.prover.v1.rs
  crates/agglayer-prover-types/src/lib.rs
  crates/agglayer-prover/Cargo.toml
  crates/agglayer-prover/src/executor.rs
  crates/agglayer-prover/src/executor/tests.rs
  crates/agglayer-prover/src/fake.rs
  crates/agglayer-prover/src/lib.rs
  crates/agglayer-prover/src/logging.rs
  crates/agglayer-prover/src/prover.rs
  crates/agglayer-prover/src/rpc.rs
  crates/agglayer-types/src/lib.rs
  crates/agglayer/Cargo.toml
  crates/agglayer/src/main.rs
  crates/pessimistic-proof/Cargo.toml
  crates/pessimistic-proof/src/error.rs
  crates/pessimistic-proof/src/lib.rs
  crates/pessimistic-proof/src/proof.rs
  tests/integrations/Cargo.toml
  tests/integrations/src/agglayer_setup.rs
Labels: feature, agglayer/provers, agglayer-node

#528 build(deps): bump deps
  Cargo.lock
  Cargo.toml
  crates/agglayer-node/Cargo.toml
  crates/agglayer-primitives/Cargo.toml
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-telemetry/Cargo.toml
  crates/agglayer-telemetry/src/lib.rs
  crates/pessimistic-proof-core/Cargo.toml
  crates/pessimistic-proof-test-suite/Cargo.toml
  tests/integrations/Cargo.toml
Labels: pessimistic-proof

#505 feat: enable backup for storage DBs with purge mechanism
  Cargo.lock
  Cargo.toml
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-config/src/storage.rs
  crates/agglayer-config/src/storage/backup.rs
  crates/agglayer-config/tests/backup.rs
  crates/agglayer-config/tests/fixtures/valide_config/backup_enabled.toml
  crates/agglayer-config/tests/snapshots/backup__backup_enabled.snap
  crates/agglayer-node/src/epoch_synchronizer.rs
  crates/agglayer-node/src/lib.rs
  crates/agglayer-node/src/node.rs
  crates/agglayer-node/src/rpc/tests/get_latest_known_certificate_header.rs
  crates/agglayer-node/src/rpc/tests/get_tx_status.rs
  crates/agglayer-node/src/rpc/tests/mod.rs
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-storage/benches/latest_certificate_bench.rs
  crates/agglayer-storage/src/storage/backup/mod.rs
  crates/agglayer-storage/src/storage/mod.rs
  crates/agglayer-storage/src/stores/epochs.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/tests.rs
  crates/agglayer-storage/src/stores/state/mod.rs
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-storage/src/stores/state/tests/metadata.rs
  crates/agglayer-storage/src/tests.rs
  crates/agglayer-test-suite/src/storage.rs
  crates/agglayer/Cargo.toml
  crates/agglayer/src/cli.rs
  crates/agglayer/src/main.rs
  tests/integrations/Cargo.toml
  tests/integrations/src/agglayer_setup.rs
  tests/integrations/tests/certificate_settlement/concurrency.rs
  tests/integrations/tests/certificate_settlement/happy_path.rs
  tests/integrations/tests/certificate_settlement/l1_settlement/failure.rs
  tests/integrations/tests/certificate_settlement/retries.rs
  tests/integrations/tests/certificate_settlement/retries/recovery.rs
  tests/integrations/tests/storage_backups/main.rs
Labels: feature

#562 fix: fixing backup config format
  crates/agglayer-config/src/storage/backup.rs
  crates/agglayer-config/tests/snapshots/backup__backup_enabled.snap
Labels: bug

#529 chore: improve pessimistic-proof comments
  crates/pessimistic-proof-core/src/local_exit_tree/mod.rs
  crates/pessimistic-proof/src/local_exit_tree/data.rs
Labels: pessimistic-proof

#560 fix: handle jammed epoch channel in network task
  crates/agglayer-certificate-orchestrator/src/network_task.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  crates/agglayer-storage/Cargo.toml
  tests/integrations/Cargo.toml
Labels: bug

#561 feat: update the RPC to check for transaction status
  crates/agglayer-aggregator-notifier/src/packer/mod.rs
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-config/src/lib.rs
  crates/agglayer-config/src/rpc.rs
  crates/agglayer-config/tests/snapshots/auth_config__auth_kebab_case.snap
  crates/agglayer-config/tests/snapshots/backup__backup_enabled.snap
  crates/agglayer-config/tests/snapshots/validate_deserialize__empty_rpcs.snap
  crates/agglayer-config/tests/snapshots/validate_deserialize__grpc_max_decoding_message_size.snap
  crates/agglayer-config/tests/snapshots/validate_deserialize__max_rpc_request_size.snap
  crates/agglayer-node/src/epoch_synchronizer.rs
  crates/agglayer-node/src/kernel/mod.rs
  crates/agglayer-node/src/node.rs
  crates/agglayer-node/src/rpc/admin.rs
  crates/agglayer-node/src/rpc/error.rs
  crates/agglayer-node/src/rpc/mod.rs
  crates/agglayer-node/src/rpc/tests/get_certificate_header.rs
  crates/agglayer-node/src/rpc/tests/mod.rs
  crates/agglayer-node/src/rpc/tests/send_certificate.rs
  crates/agglayer-storage/src/error.rs
  crates/agglayer-storage/src/stores/interfaces/writer.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/tests.rs
  crates/agglayer-storage/src/tests/mocks/per_epoch_store.rs
  crates/agglayer/tests/snapshots/config__config_display.snap
  tests/integrations/src/agglayer_setup.rs
  tests/integrations/tests/certificate_settlement/l1_settlement/failure.rs
  tests/integrations/tests/certificate_settlement/retries.rs
Labels: feature

#569 fix: adding set latest proven/pending method on admin RPC
  crates/agglayer-node/src/rpc/admin.rs
  crates/agglayer-node/src/rpc/mod.rs
  crates/agglayer-node/src/rpc/tests/get_latest_known_certificate_header.rs
Labels: bug

#565 feat: confirm certificates’ claimed emitter is allowed to emit
  crates/agglayer-node/src/kernel/mod.rs
  crates/agglayer-node/src/kernel/tests.rs
  crates/agglayer-node/src/rpc/error.rs
  crates/agglayer-node/src/rpc/tests/errors.rs
  crates/agglayer-node/src/rpc/tests/mod.rs
  crates/agglayer-node/src/rpc/tests/send_certificate.rs
  crates/agglayer-node/src/rpc/tests/snapshots/agglayer_node__rpc__tests__errors__cert_sig.snap
  crates/agglayer-node/src/rpc/tests/snapshots/agglayer_node__rpc__tests__errors__sig_invalid_len.snap
  crates/agglayer-node/src/rpc/tests/snapshots/agglayer_node__rpc__tests__errors__sig_recov.snap
  crates/agglayer-node/src/rpc/tests/snapshots/agglayer_node__rpc__tests__errors__sig_verif.snap
  crates/agglayer-node/src/service/error.rs
  crates/agglayer-node/src/service/mod.rs
  crates/agglayer-types/src/lib.rs
Labels: backport

#564 fix: handle jammed epoch channel in network task [`main` port]
  crates/agglayer-certificate-orchestrator/src/network_task.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  tests/integrations/Cargo.toml
Labels: bug, backport
