Repository agglayer/agglayer, pull requests merged in 2025-03, with the labels that each got.

#685 revert: make dependabot update prover packages in one PR (#680)
  .github/dependabot.yml
Labels: bug, dependencies

#686 feat: upgrade to sp1 v4.1.2
  Cargo.lock
  Cargo.toml
  crates/pessimistic-proof-core/Cargo.toml
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: pessimistic-proof

#598 chore: remove redundant variable in multi batch header
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/src/local_state.rs
  crates/pessimistic-proof-core/src/multi_batch_header.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: pessimistic-proof

#691 fix: use absolute path in a macro
  tests/integrations/src/agglayer_setup.rs
Labels: bug

#689 feat: add pp migration logic
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer-aggregator-notifier/src/packer/tests.rs
  crates/agglayer-certificate-orchestrator/src/error.rs
  crates/agglayer-certificate-orchestrator/src/network_task.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests/status.rs
  crates/agglayer-contracts/src/rollup.rs
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/src/aggchain_proof.rs
  crates/pessimistic-proof-core/src/local_state/commitment.rs
  crates/pessimistic-proof-core/src/local_state/mod.rs
  crates/pessimistic-proof-core/src/multi_batch_header.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/src/bin/ppgen.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/cycle-tracker.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof/src/lib.rs
  crates/pessimistic-proof/src/local_state.rs
  crates/pessimistic-proof/src/proof.rs
Labels: pessimistic-proof

#670 feat: fetch vkey from l1
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer-aggregator-notifier/src/packer/tests.rs
  crates/agglayer-certificate-orchestrator/src/error.rs
  crates/agglayer-certificate-orchestrator/src/network_task.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests/status.rs
  crates/agglayer-contracts/Cargo.toml
  crates/agglayer-contracts/src/aggchain.rs
  crates/agglayer-contracts/src/lib.rs
  crates/agglayer-contracts/src/rollup.rs
  crates/agglayer-grpc-types/src/compat/v1/certificate.rs
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h0.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h1.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h2.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h3.snap
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-test-suite/src/bin/ppgen.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/cycle-tracker.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof/src/lib.rs
Labels: feature

#725 fix: enforce proper ger in ibe
  crates/pessimistic-proof-core/src/imported_bridge_exit.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof/src/imported_bridge_exit.rs
Labels: bug, pessimistic-proof

#723 feat: adding pp-vkey-selector to proof bytes
  .config/nextest.toml
  .github/workflows/test.yml
  Cargo.lock
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer-aggregator-notifier/src/packer/mod.rs
  crates/agglayer-aggregator-notifier/src/packer/tests.rs
  crates/agglayer-certificate-orchestrator/src/error.rs
  crates/agglayer-contracts/Cargo.toml
  crates/agglayer-contracts/build.rs
  crates/agglayer-contracts/src/contracts/AggLayerGateway.json
  crates/agglayer-contracts/src/contracts/agglayer_gateway.rs
  crates/agglayer-contracts/src/lib.rs
  crates/agglayer-contracts/src/rollup.rs
  crates/agglayer-storage/src/storage/mod.rs
  crates/agglayer-storage/src/stores/debug.rs
  crates/agglayer-storage/src/stores/pending/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer/Cargo.toml
  crates/agglayer/src/cli.rs
  crates/agglayer/src/main.rs
  crates/pessimistic-proof-core/Cargo.toml
  crates/pessimistic-proof-core/build.rs
  crates/pessimistic-proof-core/src/lib.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/src/bin/ppgen.rs
  crates/pessimistic-proof/src/lib.rs
  scripts/make/Makefile.contracts.toml
  tests/integrations/src/agglayer_setup.rs
  tests/integrations/tests/storage_backups/main.rs
Labels: pessimistic-proof, feature

#733 docs: update detailed documentation link
  README.md
Labels: documentation

#735 feat: make pessimistic proof 10-15% faster and 25% smaller with LTO
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: pessimistic-proof
