Repository agglayer/agglayer, pull requests merged in 2025-09, with the labels that each got.

#999 feat: update the PP to align with the smart contracts for multisig
  crates/agglayer-aggregator-notifier/src/certifier/l1_context.rs
  crates/agglayer-types/src/aggchain_data/global.rs
  crates/agglayer-types/src/aggchain_data/mod.rs
  crates/agglayer-types/src/aggchain_data/multisig.rs
  crates/agglayer-types/src/certificate/mod.rs
  crates/pessimistic-proof-core/src/aggchain_data/aggchain_hash.rs
  crates/pessimistic-proof-core/src/aggchain_data/mod.rs
  crates/pessimistic-proof-core/src/aggchain_data/multisig.rs
  crates/pessimistic-proof-core/src/local_state/commitment.rs
  crates/pessimistic-proof-test-suite/data/test_vector/aggchain_hash_computation.json
  crates/pessimistic-proof-test-suite/data/test_vector/multisig_hash_computation.json
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/src/lib.rs
  crates/pessimistic-proof-test-suite/src/test_vector.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/pp_public_values.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/vkey_selector__vkey_snapshot.snap
  crates/pessimistic-proof/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof/src/lib.rs
  docs/validity_checks.md
Labels: pessimistic-proof

#1010 chore: add epoch store reader to agglayer rpc
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-grpc-api/src/certificate_submission_service/mod.rs
  crates/agglayer-grpc-api/src/configuration_service.rs
  crates/agglayer-grpc-api/src/lib.rs
  crates/agglayer-grpc-api/src/node_state_service.rs
  crates/agglayer-grpc-api/src/tests/configuration.rs
  crates/agglayer-grpc-api/src/tests/node_state.rs
  crates/agglayer-jsonrpc-api/src/lib.rs
  crates/agglayer-jsonrpc-api/src/testutils.rs
  crates/agglayer-node/src/node.rs
  crates/agglayer-rpc/src/lib.rs
  crates/agglayer-storage/src/storage/mod.rs
  crates/agglayer-storage/src/stores/epochs.rs
  crates/agglayer-storage/src/stores/interfaces/reader.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/tests/mocks/epochs_store.rs
Labels: agglayer-node

#1011 feat: implement agglayer rpc get network state
  Cargo.lock
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-config/src/storage.rs
  crates/agglayer-grpc-api/src/node_state_service.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.serde.rs
  crates/agglayer-rpc/Cargo.toml
  crates/agglayer-rpc/src/error.rs
  crates/agglayer-rpc/src/lib.rs
  crates/agglayer-storage/src/storage/mod.rs
  crates/agglayer-storage/src/stores/epochs.rs
  crates/agglayer-storage/src/stores/interfaces/reader.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/tests.rs
  crates/agglayer-storage/src/tests/mocks/epochs_store.rs
  proto/agglayer/node/v1/node_state.proto
Labels: agglayer-node

#1019 feat: add settled claim
  crates/agglayer-rpc/src/error.rs
  crates/agglayer-rpc/src/lib.rs
Labels: agglayer-node

#1040 feat: align aggchain hash computation with contracts
  crates/pessimistic-proof-core/src/aggchain_data/multisig.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-test-suite/data/test_vector/aggchain_hash_computation.json
  crates/pessimistic-proof-test-suite/data/test_vector/multisig_hash_computation.json
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/vkey_selector__vkey_snapshot.snap
  crates/pessimistic-proof/elf/riscv32im-succinct-zkvm-elf
Labels: pessimistic-proof

#1043 build(deps): update interop to `0.11.0`
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-grpc-types/src/compat/v1/certificate.rs
  crates/agglayer-jsonrpc-api/src/kernel/mod.rs
  crates/agglayer-rpc/src/lib.rs
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-types/src/aggchain_data/mod.rs
  crates/agglayer-types/src/certificate/mod.rs
  crates/agglayer-types/src/certificate/testutils.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-test-suite/tests/snapshots/vkey_selector__vkey_snapshot.snap
  crates/pessimistic-proof/elf/riscv32im-succinct-zkvm-elf
Labels: pessimistic-proof

#1041 fix: use `DB::default_write_options` consistently
  crates/agglayer-storage/src/storage/mod.rs
Labels: bug

#1050 fix: remove unused Proof
  crates/agglayer-aggregator-notifier/src/lib.rs
  crates/agglayer-aggregator-notifier/src/proof.rs
Labels: bug

#1069 fix: get network info
  Cargo.lock
  crates/agglayer-rpc/src/lib.rs
Labels: bug, agglayer-node

#1070 fix: network info retrieval
  crates/agglayer-storage/src/stores/state/network_info/mod.rs
  crates/agglayer-storage/src/stores/state/tests.rs
Labels: bug
