Repository agglayer/agglayer, pull requests merged in 2025-05, with the labels that each got.

#794 feat: add audit reports for Pessimistic Proofs and Aggregation Layer
  docs/audits/2024-06_pessimistic-proofs_d9d33885b6_trail-of-bits_audit.pdf
  docs/audits/2024-06_pessimistic-proofs_d9d33885b6_trail-of-bits_response.pdf
  docs/audits/2024-12_aggregation-layer_d9d33885b6_sigma-prime_audit.pdf
Labels: feature

#798 chore: informational report idiomatic change
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
Labels: pessimistic-proof

#797 fix: improve epoch_synchronizer logs and error handling
  crates/agglayer-node/src/epoch_synchronizer.rs
Labels: bug

#800 fix: panic instead of silently overflowing in case of bug in proof programs
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: pessimistic-proof

#808 feat: adding signature check for aggchain-proof
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
  buf.lock
  buf.yaml
  crates/agglayer-certificate-orchestrator/src/network_task.rs
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-rpc/src/error.rs
  crates/agglayer-storage/src/columns/epochs/transaction_hash_per_certificate_index/mod.rs
  crates/agglayer-storage/src/stores/interfaces/writer.rs
  crates/agglayer-storage/src/stores/state/mod.rs
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-storage/src/tests/mocks/state_store.rs
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/agglayer-storage/src/types/mod.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/src/aggchain_proof.rs
  crates/pessimistic-proof-core/src/local_balance_tree.rs
  crates/pessimistic-proof-core/src/local_state/commitment.rs
  crates/pessimistic-proof-core/src/local_state/mod.rs
  crates/pessimistic-proof-core/src/nullifier_tree.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/local_exit_root.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof/src/local_balance_tree.rs
  crates/pessimistic-proof/src/local_exit_tree/tests.rs
  crates/pessimistic-proof/src/local_state.rs
  crates/pessimistic-proof/src/nullifier_tree.rs
Labels: pessimistic-proof, feature

#811 feat: relax signature check for aggchain-proof
  Cargo.lock
  Cargo.toml
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
Labels: pessimistic-proof, feature

#815 fix: storage compatibility issues
  Cargo.lock
  crates/agglayer-certificate-orchestrator/Cargo.toml
  crates/agglayer-certificate-orchestrator/src/network_task.rs
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/regression_01.hex
  crates/agglayer-storage/src/types/certificate/tests/regression_02.hex
  crates/agglayer-types/src/lib.rs
Labels: bug

#817 fix: clippy 0.1.88
  crates/agglayer-aggregator-notifier/src/packer/mod.rs
  crates/agglayer-certificate-orchestrator/src/error.rs
  crates/agglayer-certificate-orchestrator/src/lib.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  crates/agglayer-clock/src/time.rs
  crates/agglayer-config/src/lib.rs
  crates/agglayer-config/src/log.rs
  crates/agglayer-contracts/src/lib.rs
  crates/agglayer-contracts/src/settler.rs
  crates/agglayer-jsonrpc-api/src/admin.rs
  crates/agglayer-jsonrpc-api/src/kernel/mod.rs
  crates/agglayer-jsonrpc-api/src/tests/get_certificate_header.rs
  crates/agglayer-node/src/node/api/tests/mod.rs
  crates/agglayer-storage/src/storage/backup/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/tests.rs
  crates/agglayer-types/src/lib.rs
  crates/agglayer/src/cli.rs
  crates/agglayer/src/main.rs
  crates/pessimistic-proof-core/build.rs
  crates/pessimistic-proof-test-suite/src/bin/convertor.rs
  tests/integrations/src/agglayer_setup.rs
  tests/integrations/src/l1_setup.rs
  tests/integrations/tests/certificate_settlement/l1_settlement/failure.rs
  tests/integrations/tests/storage_backups/main.rs
Labels: pessimistic-proof, agglayer-node
