Repository agglayer/agglayer, pull requests merged in 2025-02, with the labels that each got.

#575 fix: restore command path
  crates/agglayer/src/cli.rs
Labels: bug

#589 build: update required job on merge_queue
  .github/workflows/coverage.yml
  .github/workflows/mq-test.yml
  .github/workflows/pr-quality.yml
  .github/workflows/pr-test.yml
Labels: bug

#588 refactor: agglayer-prover integration with provers
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer/Cargo.toml
  crates/agglayer/src/main.rs
  tests/integrations/src/agglayer_setup.rs
Labels: feature

#604 feat: make mock prover work with kurtosis-cdk
  Cargo.lock
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer-config/src/lib.rs
  crates/agglayer-node/src/node.rs
Labels: feature

#596 fix: check target leaf count
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
Labels: bug, pessimistic-proof

#610 fix: skip native claims in witness generation
  Cargo.lock
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-test-suite/data/cert_h0.json
  crates/pessimistic-proof-test-suite/data/cert_h1.json
  crates/pessimistic-proof-test-suite/data/cert_h2.json
Labels: bug

#448 feat: general-purpose SP1 Authenticator
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/Cargo.toml
  crates/pessimistic-proof-core/src/aggchain_proof.rs
  crates/pessimistic-proof-core/src/lib.rs
  crates/pessimistic-proof-core/src/local_state.rs
  crates/pessimistic-proof-core/src/multi_batch_header.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/Cargo.toml
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/lib/Cargo.toml
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/lib/src/lib.rs
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/program/Cargo.lock
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/program/Cargo.toml
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/program/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof-test-suite/aggchain-proof-ecdsa-example/program/src/main.rs
  crates/pessimistic-proof-test-suite/src/bin/ppgen.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/src/lib.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof/src/aggchain_proof.rs
  crates/pessimistic-proof/src/lib.rs
  crates/pessimistic-proof/src/proof.rs
Labels: pessimistic-proof

#593 feat: adding gRPC api definition
  .gitattributes
  Cargo.lock
  Cargo.toml
  Makefile.proto.toml
  Makefile.toml
  buf.rust.gen.yaml
  buf.yaml
  crates/agglayer-config/src/lib.rs
  crates/agglayer-config/src/rpc.rs
  crates/agglayer-grpc-api/Cargo.toml
  crates/agglayer-grpc-api/src/certificate_submission_service.rs
  crates/agglayer-grpc-api/src/configuration_service.rs
  crates/agglayer-grpc-api/src/lib.rs
  crates/agglayer-grpc-api/src/network_state_service.rs
  crates/agglayer-grpc-client/Cargo.toml
  crates/agglayer-grpc-client/src/generated/agglayer.node.v1.tonic.rs
  crates/agglayer-grpc-client/src/lib.rs
  crates/agglayer-grpc-server/Cargo.toml
  crates/agglayer-grpc-server/src/generated/agglayer.node.v1.tonic.rs
  crates/agglayer-grpc-server/src/lib.rs
  crates/agglayer-grpc-types/Cargo.toml
  crates/agglayer-grpc-types/src/compat.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.serde.rs
  crates/agglayer-grpc-types/src/generated/agglayer.protocol.types.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.protocol.types.v1.serde.rs
  crates/agglayer-grpc-types/src/generated/mod.rs
  crates/agglayer-grpc-types/src/lib.rs
  crates/agglayer-node/Cargo.toml
  crates/agglayer-node/src/node.rs
  crates/agglayer-node/src/node/api.rs
  crates/agglayer-node/src/node/api/rest.rs
  crates/agglayer-node/src/rpc/mod.rs
  crates/agglayer-node/src/rpc/tests/get_tx_status.rs
  crates/agglayer-node/src/rpc/tests/mod.rs
  crates/agglayer-node/src/rpc/tests/send_certificate.rs
  proto/agglayer/node/v1/certificate_submission.proto
  proto/agglayer/node/v1/read_queries.proto
  proto/agglayer/protocol/types/v1/bridge_exit.proto
  proto/agglayer/protocol/types/v1/bytes.proto
  proto/agglayer/protocol/types/v1/certificate.proto
  proto/agglayer/protocol/types/v1/certificate_header.proto
  proto/agglayer/protocol/types/v1/claim.proto
  proto/agglayer/protocol/types/v1/epoch_configuration.proto
  proto/agglayer/protocol/types/v1/imported_bridge_exit.proto
Labels: feature

#612 feat: enable backup for storage DBs with purge mechanism (#505)
  Cargo.lock
  Cargo.toml
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-config/src/storage.rs
  crates/agglayer-config/src/storage/backup.rs
  crates/agglayer-config/tests/backup.rs
  crates/agglayer-config/tests/fixtures/valide_config/backup_enabled.toml
  crates/agglayer-config/tests/snapshots/backup__backup_enabled.snap
  crates/agglayer-node/src/epoch_synchronizer.rs
  crates/agglayer-node/src/lib.rs
  crates/agglayer-node/src/node.rs
  crates/agglayer-node/src/rpc/tests/get_latest_known_certificate_header.rs
  crates/agglayer-node/src/rpc/tests/get_tx_status.rs
  crates/agglayer-node/src/rpc/tests/mod.rs
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-storage/benches/latest_certificate_bench.rs
  crates/agglayer-storage/src/storage/backup/mod.rs
  crates/agglayer-storage/src/storage/mod.rs
  crates/agglayer-storage/src/stores/epochs.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/tests.rs
  crates/agglayer-storage/src/stores/state/mod.rs
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-storage/src/stores/state/tests/metadata.rs
  crates/agglayer-storage/src/tests.rs
  crates/agglayer-test-suite/src/storage.rs
  crates/agglayer/Cargo.toml
  crates/agglayer/src/cli.rs
  crates/agglayer/src/main.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  tests/integrations/Cargo.toml
  tests/integrations/src/agglayer_setup.rs
  tests/integrations/tests/certificate_settlement/concurrency.rs
  tests/integrations/tests/certificate_settlement/happy_path.rs
  tests/integrations/tests/certificate_settlement/l1_settlement/failure.rs
  tests/integrations/tests/certificate_settlement/retries.rs
  tests/integrations/tests/certificate_settlement/retries/recovery.rs
  tests/integrations/tests/storage_backups/main.rs
Labels: pessimistic-proof, backport

#597 fix: certificate storage backwards compatibility
  Cargo.lock
  crates/agglayer-node/src/kernel/mod.rs
  crates/agglayer-storage/Cargo.toml
  crates/agglayer-storage/src/columns/mod.rs
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h0.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h1.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h2.snap
  crates/agglayer-storage/src/stores/state/snapshots/agglayer_storage__stores__state__tests__n15-cert_h3.snap
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-storage/src/types/certificate/tests/encoded_v0-n15-cert_h0.hex
  crates/agglayer-storage/src/types/certificate/tests/encoded_v0-n15-cert_h1.hex
  crates/agglayer-storage/src/types/certificate/tests/encoded_v0-n15-cert_h2.hex
  crates/agglayer-storage/src/types/certificate/tests/encoded_v0-n15-cert_h3.hex
  crates/agglayer-storage/src/types/certificate/tests/mod.rs
  crates/agglayer-storage/src/types/mod.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof/Cargo.toml
  crates/pessimistic-proof/src/aggchain_proof.rs
Labels: bug

#615 feat: update the RPC to check for transaction status (#561)
  .github/workflows/test.yml
  crates/agglayer-aggregator-notifier/src/packer/mod.rs
  crates/agglayer-certificate-orchestrator/src/tests.rs
  crates/agglayer-config/src/lib.rs
  crates/agglayer-config/src/rpc.rs
  crates/agglayer-config/tests/snapshots/auth_config__auth_kebab_case.snap
  crates/agglayer-config/tests/snapshots/backup__backup_enabled.snap
  crates/agglayer-config/tests/snapshots/validate_deserialize__empty_rpcs.snap
  crates/agglayer-config/tests/snapshots/validate_deserialize__grpc_max_decoding_message_size.snap
  crates/agglayer-config/tests/snapshots/validate_deserialize__max_rpc_request_size.snap
  crates/agglayer-node/src/epoch_synchronizer.rs
  crates/agglayer-node/src/kernel/mod.rs
  crates/agglayer-node/src/node.rs
  crates/agglayer-node/src/rpc/admin.rs
  crates/agglayer-node/src/rpc/error.rs
  crates/agglayer-node/src/rpc/mod.rs
  crates/agglayer-node/src/rpc/tests/get_certificate_header.rs
  crates/agglayer-node/src/rpc/tests/mod.rs
  crates/agglayer-node/src/rpc/tests/send_certificate.rs
  crates/agglayer-node/src/service/mod.rs
  crates/agglayer-storage/src/error.rs
  crates/agglayer-storage/src/stores/interfaces/writer.rs
  crates/agglayer-storage/src/stores/per_epoch/mod.rs
  crates/agglayer-storage/src/stores/per_epoch/tests.rs
  crates/agglayer-storage/src/tests/mocks/per_epoch_store.rs
  crates/agglayer/tests/snapshots/config__config_display.snap
  tests/integrations/src/agglayer_setup.rs
  tests/integrations/tests/certificate_settlement/concurrency.rs
  tests/integrations/tests/certificate_settlement/happy_path.rs
  tests/integrations/tests/certificate_settlement/l1_settlement/failure.rs
  tests/integrations/tests/certificate_settlement/retries.rs
  tests/integrations/tests/certificate_settlement/retries/recovery.rs
  tests/integrations/tests/storage_backups/main.rs
Labels: backport

#627 test: detect docker failure in integration tests
  tests/integrations/src/l1_setup.rs
Labels: tests

#629 fix: github action proto ref for merge_group
  .github/workflows/proto.yml
Labels: bug

#622 fix: adding set latest proven/pending method on admin RPC (#569)
  crates/agglayer-node/src/rpc/admin.rs
  crates/agglayer-node/src/rpc/tests/get_latest_known_certificate_header.rs
  crates/agglayer-node/src/service/mod.rs
Labels: backport

#623 fix: restore command path (#575)
  crates/agglayer/src/cli.rs
Labels: backport

#628 fix: skip native claims in witness generation (#610)
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-test-suite/data/cert_h0.json
  crates/pessimistic-proof-test-suite/data/cert_h1.json
  crates/pessimistic-proof-test-suite/data/cert_h2.json
Labels: backport

#617 feat: improve error handling and example
  Cargo.lock
  Cargo.toml
  crates/agglayer-grpc-api/Cargo.toml
  crates/agglayer-grpc-api/src/certificate_submission_service.rs
  crates/agglayer-grpc-api/src/configuration_service.rs
  crates/agglayer-grpc-api/src/lib.rs
  crates/agglayer-grpc-api/src/node_state_service.rs
  crates/agglayer-grpc-client/src/generated/agglayer.node.v1.tonic.rs
  crates/agglayer-grpc-server/src/generated/agglayer.node.v1.tonic.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.serde.rs
  crates/agglayer-node/Cargo.toml
  crates/agglayer-node/src/node.rs
  crates/agglayer-telemetry/Cargo.toml
  proto/agglayer/node/v1/read_queries.proto
Labels: feature

#650 feat: update gRPC definition
  .github/workflows/proto.yml
  crates/agglayer-grpc-types/src/generated/agglayer.protocol.types.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.protocol.types.v1.serde.rs
  proto/agglayer/protocol/types/v1/claim.proto
  proto/agglayer/protocol/types/v1/merkle_proof.proto
Labels: feature

#625 feat: compatibility between protobuf and agglayer types
  Cargo.lock
  crates/agglayer-grpc-api/Cargo.toml
  crates/agglayer-grpc-api/src/node_state_service.rs
  crates/agglayer-grpc-client/src/generated/agglayer.node.v1.tonic.rs
  crates/agglayer-grpc-server/src/generated/agglayer.node.v1.tonic.rs
  crates/agglayer-grpc-types/Cargo.toml
  crates/agglayer-grpc-types/src/compat.rs
  crates/agglayer-grpc-types/src/compat/mod.rs
  crates/agglayer-grpc-types/src/compat/v1/address.rs
  crates/agglayer-grpc-types/src/compat/v1/aggchain_proof.rs
  crates/agglayer-grpc-types/src/compat/v1/bridge_exit.rs
  crates/agglayer-grpc-types/src/compat/v1/bytes.rs
  crates/agglayer-grpc-types/src/compat/v1/certificate.rs
  crates/agglayer-grpc-types/src/compat/v1/certificate_header.rs
  crates/agglayer-grpc-types/src/compat/v1/certificate_id.rs
  crates/agglayer-grpc-types/src/compat/v1/claim.rs
  crates/agglayer-grpc-types/src/compat/v1/digest.rs
  crates/agglayer-grpc-types/src/compat/v1/epoch_configuration.rs
  crates/agglayer-grpc-types/src/compat/v1/error.rs
  crates/agglayer-grpc-types/src/compat/v1/global_index.rs
  crates/agglayer-grpc-types/src/compat/v1/imported_bridge_exit.rs
  crates/agglayer-grpc-types/src/compat/v1/l1_info_tree_leaf.rs
  crates/agglayer-grpc-types/src/compat/v1/merkle_proof.rs
  crates/agglayer-grpc-types/src/compat/v1/mod.rs
  crates/agglayer-grpc-types/src/compat/v1/token_info.rs
  crates/agglayer-grpc-types/src/compat/v1/u256.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.serde.rs
  crates/agglayer-grpc-types/src/generated/agglayer.protocol.types.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.protocol.types.v1.serde.rs
  crates/agglayer-types/src/lib.rs
  crates/pessimistic-proof-core/src/imported_bridge_exit.rs
  crates/pessimistic-proof-core/src/keccak/digest.rs
  crates/pessimistic-proof-program/elf/riscv32im-succinct-zkvm-elf
  proto/agglayer/node/v1/read_queries.proto
  proto/agglayer/protocol/types/v1/bridge_exit.proto
  proto/agglayer/protocol/types/v1/certificate.proto
  proto/agglayer/protocol/types/v1/certificate_header.proto
Labels: pessimistic-proof

#655 feat: wire rpc service for gRPC api
  Cargo.lock
  Cargo.toml
  crates/agglayer-grpc-api/Cargo.toml
  crates/agglayer-grpc-api/src/certificate_submission_service.rs
  crates/agglayer-grpc-api/src/certificate_submission_service/error.rs
  crates/agglayer-grpc-api/src/certificate_submission_service/mod.rs
  crates/agglayer-grpc-api/src/configuration_service.rs
  crates/agglayer-grpc-api/src/lib.rs
  crates/agglayer-grpc-api/src/node_state_service.rs
  crates/agglayer-grpc-api/src/tests/configuration.rs
  crates/agglayer-grpc-api/src/tests/mod.rs
  crates/agglayer-grpc-api/src/tests/node_state.rs
  crates/agglayer-grpc-types/Cargo.toml
  crates/agglayer-grpc-types/src/compat/v1/error.rs
  crates/agglayer-grpc-types/src/compat/v1/error/error_kinds/get_certificate_header_error_kind.rs
  crates/agglayer-grpc-types/src/compat/v1/error/error_kinds/get_latest_certificate_header_error_kind.rs
  crates/agglayer-grpc-types/src/compat/v1/error/error_kinds/mod.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.rs
  crates/agglayer-grpc-types/src/generated/agglayer.node.v1.serde.rs
  crates/agglayer-jsonrpc-api/src/lib.rs
  crates/agglayer-node/src/node.rs
  crates/agglayer-rpc/src/lib.rs
  proto/agglayer/node/v1/certificate_submission.proto
  proto/agglayer/node/v1/read_queries.proto
Labels: feature
