Repository agglayer/agglayer, pull requests merged in 2025-08, with the labels that each got.

#932 fix: pending state member field
  crates/agglayer-certificate-orchestrator/src/network_task.rs
Labels: bug

#928 fix: zero rollup contract error
  crates/agglayer-contracts/src/lib.rs
  crates/agglayer-contracts/src/rollup.rs
Labels: bug, audit, agglayer-node

#959 refactor: ensure empty hashes are calculated at compile time
  Cargo.lock
  Cargo.toml
  crates/agglayer-types/src/local_network_state.rs
  crates/pessimistic-proof-core/src/nullifier_tree.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-test-suite/tests/root_hashes.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/root_hashes__root_hashes_sanity_check-2.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/root_hashes__root_hashes_sanity_check.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/vkey_selector__vkey_snapshot.snap
  crates/pessimistic-proof/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof/src/local_balance_tree.rs
  crates/pessimistic-proof/src/local_exit_tree/data.rs
  crates/pessimistic-proof/src/nullifier_tree.rs
Labels: pessimistic-proof

#963 feat: multisig on PP and agglayer witness generation
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/agglayer-aggregator-notifier/src/certifier/l1_context.rs
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-aggregator-notifier/src/certifier/tests.rs
  crates/agglayer-aggregator-notifier/src/settlement_client/tests.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests.rs
  crates/agglayer-certificate-orchestrator/src/network_task/tests/status.rs
  crates/agglayer-storage/src/stores/state/tests.rs
  crates/agglayer-storage/src/types/certificate/tests/snapshots/agglayer_storage__types__certificate__tests__structure__structure_snapshot.snap
  crates/agglayer-storage/src/types/certificate/tests/structure.rs
  crates/agglayer-types/Cargo.toml
  crates/agglayer-types/src/aggchain_data/aggchain_proof.rs
  crates/agglayer-types/src/aggchain_data/global.rs
  crates/agglayer-types/src/aggchain_data/mod.rs
  crates/agglayer-types/src/aggchain_data/multisig.rs
  crates/agglayer-types/src/certificate/mod.rs
  crates/agglayer-types/src/certificate/testutils.rs
  crates/agglayer-types/src/error.rs
  crates/agglayer-types/src/lib.rs
  crates/agglayer-types/src/local_network_state.rs
  crates/pessimistic-proof-core/Cargo.toml
  crates/pessimistic-proof-core/src/aggchain_data/aggchain_hash.rs
  crates/pessimistic-proof-core/src/aggchain_data/aggchain_proof.rs
  crates/pessimistic-proof-core/src/aggchain_data/mod.rs
  crates/pessimistic-proof-core/src/aggchain_data/multisig.rs
  crates/pessimistic-proof-core/src/aggchain_proof.rs
  crates/pessimistic-proof-core/src/lib.rs
  crates/pessimistic-proof-core/src/local_state/commitment.rs
  crates/pessimistic-proof-core/src/multi_batch_header.rs
  crates/pessimistic-proof-core/src/proof.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-program/Cargo.toml
  crates/pessimistic-proof-test-suite/src/bin/ppgen.rs
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/cycle-tracker.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s00_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be000.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be001.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be002.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be020.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be050.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be100.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/cycle_tracker__s01_be223.snap
  crates/pessimistic-proof-test-suite/tests/snapshots/vkey_selector__vkey_snapshot.snap
  crates/pessimistic-proof/elf/riscv32im-succinct-zkvm-elf
  crates/pessimistic-proof/src/lib.rs
  docs/validity_checks.md
Labels: pessimistic-proof

#984 feat: add multisig verification at the rpc level
  Cargo.lock
  Cargo.toml
  buf.lock
  buf.yaml
  crates/agglayer-aggregator-notifier/src/certifier/mod.rs
  crates/agglayer-jsonrpc-api/src/kernel/mod.rs
  crates/agglayer-rpc/src/error.rs
  crates/agglayer-rpc/src/lib.rs
  crates/agglayer-storage/src/types/certificate/mod.rs
  crates/agglayer-types/src/aggchain_data/mod.rs
  crates/agglayer-types/src/aggchain_data/multisig.rs
  crates/agglayer-types/src/certificate/mod.rs
  crates/agglayer-types/src/certificate/testutils.rs
  crates/agglayer-types/src/error.rs
  crates/pessimistic-proof-program/Cargo.lock
  crates/pessimistic-proof-test-suite/src/forest.rs
  crates/pessimistic-proof-test-suite/tests/e2e_local_pp.rs
  crates/pessimistic-proof-test-suite/tests/snapshots/vkey_selector__vkey_snapshot.snap
  crates/pessimistic-proof/Cargo.toml
  crates/pessimistic-proof/build.rs
  crates/pessimistic-proof/elf/riscv32im-succinct-zkvm-elf
Labels: pessimistic-proof
